In [16]:
import pandas as pd
df=pd.read_csv("C:\\Users\\admin\\Downloads\\Swarm_Behaviour.csv")
df.head()

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,562.05,-0.62,-10.70,-4.33,0.00,0.00,0.0,0.0,0.00,0.00,...,-15.15,0.00,0.00,0.00,0.00,0.00,0.0,28,0,0.0
1,175.66,-57.09,2.31,-2.67,0.00,0.00,0.0,0.0,0.00,0.00,...,-3.48,0.00,0.00,0.00,0.00,0.00,0.0,4,0,0.0
2,200.16,-320.07,4.01,-6.37,0.00,0.00,0.0,0.0,0.18,-0.26,...,-9.38,0.00,0.00,0.00,0.00,-0.11,-0.3,15,1,0.0
3,316.99,-906.84,0.85,9.17,-0.17,1.03,0.0,0.0,0.00,0.00,...,10.39,-0.26,1.01,0.00,0.00,0.00,0.0,16,0,0.0
4,1277.68,908.54,-2.02,8.23,-1.00,1.00,0.0,0.0,0.00,0.00,...,13.91,-1.00,0.00,3.21,15.67,0.00,0.0,12,0,0.0

In [17]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, 
                    test_size=0.25,random_state=42)

In [18]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()
tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [23]:
pip install pydotplus

Requirement already satisfied: pydotplus in c:\programdata\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from pydotplus) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [24]:
dt_ent=DecisionTreeClassifier(criterion='entropy',max_depth=4)
dt_ent.fit(x_train,y_train)
df_gin=DecisionTreeClassifier(max_depth=4)
df_gin.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4)

In [25]:
y_pred_ent=dt_ent.predict(x_test)
y_pred_gin=df_gin.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_ent)

0.9049416609471517

In [27]:
accuracy_score(y_test,y_pred_gin)

0.901681537405628

In [33]:
import pydotplus
from sklearn.tree import export_graphviz

In [34]:
x=export_graphviz(dt_ent)
DOT=pydotplus.graph_from_dot_data(x)
DOT.write("entropy.png")

True

In [35]:
x=export_graphviz(df_gin)
DOT=pydotplus.graph_from_dot_data(x)
DOT.write("gini.png")

True

The accuracy of Decision Tree using c.50 algorithm is better than other classification algorithms