In [21]:
import pandas as pd
df=pd.read_csv("C:\\Users\\admin\\Downloads\\Swarm_Behaviour.csv")
df.head()

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,562.05,-0.62,-10.70,-4.33,0.00,0.00,0.0,0.0,0.00,0.00,...,-15.15,0.00,0.00,0.00,0.00,0.00,0.0,28,0,0.0
1,175.66,-57.09,2.31,-2.67,0.00,0.00,0.0,0.0,0.00,0.00,...,-3.48,0.00,0.00,0.00,0.00,0.00,0.0,4,0,0.0
2,200.16,-320.07,4.01,-6.37,0.00,0.00,0.0,0.0,0.18,-0.26,...,-9.38,0.00,0.00,0.00,0.00,-0.11,-0.3,15,1,0.0
3,316.99,-906.84,0.85,9.17,-0.17,1.03,0.0,0.0,0.00,0.00,...,10.39,-0.26,1.01,0.00,0.00,0.00,0.0,16,0,0.0
4,1277.68,908.54,-2.02,8.23,-1.00,1.00,0.0,0.0,0.00,0.00,...,13.91,-1.00,0.00,3.21,15.67,0.00,0.0,12,0,0.0

In [22]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, 
                    test_size=0.25,random_state=42)

In [23]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sc = MinMaxScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [24]:
x_train

array([[0.02944433, 0.19551968, 0.47814355, ..., 0.68656716, 0.00704225,
        0.        ],
       [0.03745041, 0.55366917, 0.16324879, ..., 0.5       , 0.22535211,
        0.        ],
       [0.06687699, 0.81610765, 0.58985429, ..., 0.68656716, 0.00704225,
        0.        ],
       ...,
       [0.97048115, 0.13265417, 0.26767404, ..., 0.5       , 0.09859155,
        0.        ],
       [0.29052189, 0.22971627, 0.05369671, ..., 0.52798507, 0.65492958,
        0.0625    ],
       [0.97691156, 0.77605302, 0.4735564 , ..., 0.5       , 0.49295775,
        0.        ]])

In [25]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [26]:
y_pred = classifier.predict(x_test)

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_test,y_pred)

array([[3474,  345],
       [ 321, 1688]], dtype=int64)

In [28]:
accuracy_score(y_test,y_pred)

0.8857240905971173